{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-classes", {
        "loose": true
      }
    ],
    ["@babel/plugin-transform-object-assign"],
    ["@babel/plugin-proposal-object-rest-spread"]
  ]
}