@font-face {
  font-family: 'H5PInteractiveVideoFontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.1.0');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.1.0') format('woff'), url('font/fontawesome-webfont.ttf?v=3.1.0') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-interactive-video {
  position: relative;
  background: #000;
  overflow: hidden;
  line-height: 1.25em;
  width: 640px;
  font-size: 16px;
}
.h5p-interactive-video .h5p-video-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 200px;
}
.h5p-interactive-video .h5p-video {
  display: block;
  width: 100%;
  height: auto;
}
.h5p-interactive-video object {
  display: block;
}
.h5p-interactive-video .h5p-video-wrapper .h5p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.h5p-interactive-video .h5p-ie-transparent-background {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUODw0yPG414gAAAA1JREFUCNdj+P//PwMACPwC/lyfz9oAAAAASUVORK5CYII=', sizingMethod='scale');
}

.h5p-interactive-video .h5p-interaction {
  display: block;
  position: absolute;
  padding: 0.1em 0.5em;
  background: #00f;
  color: #fff;
  font-family: 'H5PInteractiveVideoFontAwesome';
  font-size: 1em;
  border-radius: 50%;
  line-height: 1.5em;
  box-shadow: 0 0 0.5em #9f9f9f;
  text-shadow: 0 0 0.3em #191919;
  border: 1px solid #dadada;
  background: #666666;
  background-image: -webkit-linear-gradient(top, #7c7c7c, #5f5f5f);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;

  *margin-right: .3em;
}
.h5p-interactive-video .h5p-interaction:before {
  content: "?";
}
.h5p-interactive-video .h5p-interaction:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
.h5p-interactive-video .h5p-interaction.h5p-hidden {
  -webkit-transform: rotate(90deg) scale(0,0);
  -moz-transform: rotate(90deg) scale(0,0);
  -ms-transform: rotate(90deg) scale(0,0);
  -o-transform: rotate(90deg) scale(0,0);
  transform: rotate(90deg) scale(0,0);
}

.h5p-interactive-video .h5p-interaction.h5p-text, .h5p-interactive-video .h5p-interaction.h5p-table {
  background: #185bad;
  background-image: -webkit-linear-gradient(top, #1a63bd, #15519a);
  background-image: -moz-linear-gradient(top, #1a63bd, #15519a);
  background-image: -o-linear-gradient(top, #1a63bd, #15519a);
  background-image: -ms-linear-gradient(top, #1a63bd, #15519a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a63bd', endColorstr='#15519a',GradientType=0);
}
.h5p-interactive-video .h5p-interaction.h5p-text:before {
  content: "T";
}
.h5p-interactive-video .h5p-interaction.h5p-table:before {
  content: "\f0ce";
}
.h5p-interactive-video .h5p-interaction.h5p-image {
  background: #57ad18;
  background-image: -webkit-linear-gradient(top, #5fbd1a, #4d9a15);
  background-image: -moz-linear-gradient(top, #5fbd1a, #4d9a15);
  background-image: -o-linear-gradient(top, #5fbd1a, #4d9a15);
  background-image: -ms-linear-gradient(top, #5fbd1a, #4d9a15);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fbd1a', endColorstr='#4d9a15',GradientType=0);
}
.h5p-interactive-video .h5p-interaction.h5p-image:before {
  content: "\f03e";
}
.h5p-interactive-video .h5p-interaction.h5p-summary, .h5p-interactive-video .h5p-interaction.h5p-multichoice, .h5p-interactive-video .h5p-interaction.h5p-blanks {
  background: #8818ad;
  background-image: -webkit-linear-gradient(top, #951abd, #76159a);
  background-image: -moz-linear-gradient(top, #951abd, #76159a);
  background-image: -o-linear-gradient(top, #951abd, #76159a);
  background-image: -ms-linear-gradient(top, #951abd, #76159a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#951abd', endColorstr='#76159a',GradientType=0);
}
.h5p-interactive-video .h5p-interaction.h5p-summary:before {
  content: "\f0ca";
}
.h5p-interactive-video .h5p-interaction.h5p-multichoice:before {
  content: "\f046";
}
.h5p-interactive-video .h5p-interaction.h5p-blanks:before {
  content: "\f0ae";
}

@keyframes blinking
{
  0%, 100% {
    background: rgba(59, 98, 177, 0.8);
  }
  50% {
    background: rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes blinking
{
  0%, 100% {
    background: rgba(59, 98, 177, 0.8);
  }
  50% {
    background: rgba(0, 0, 0, 0.8);
  }
}

.h5p-interactive-video .h5p-interaction.h5p-end-summary {
  font-family: Verdana;
  background: #3b62b1;
  background: rgba(59, 98, 177, 0.8);
  top: auto !important;
  left: auto !important;
  bottom: 0.5em;
  right: 0.75em;
  border-radius: 0.25em;
  border: 0;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: blinking 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.h5p-interactive-video .h5p-interaction.h5p-end-summary:before {
  font-family: 'H5PInteractiveVideoFontAwesome';
  content: "\f0ca";
}
.h5p-interactive-video .h5p-interaction.h5p-end-summary:before {
  margin-right: 0.5em;
}

.h5p-interactive-video .h5p-controls {
  font-size: 16px;
  height: 36px;
  background: #2c2c2c;
}
.h5p-interactive-video.h5p-fullscreen .h5p-controls, .h5p-interactive-video.h5p-semi-fullscreen .h5p-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.h5p-interactive-video .h5p-control {
  display: block;
  height: 36px;
  color: #fefefe;
}
.h5p-interactive-video .h5p-control:hover {
  text-decoration: none;
}
.h5p-interactive-video .h5p-controls-left {
  float: left;
  overflow: hidden;
}
.h5p-interactive-video .h5p-controls-left .h5p-control {
  float: left;
  border-right: 2px solid #333333;
}
.h5p-interactive-video .h5p-controls-right {
  float: right;
  overflow: hidden;
}
.h5p-interactive-video .h5p-controls-right .h5p-control {
  float: right;
  border-left: 2px solid #333333;
}

.h5p-interactive-video .h5p-control {
  width: 60px;
  background-size: 60px 36px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.h5p-interactive-video .h5p-play {
  background-image: url('../images/pause.png');
}
.h5p-interactive-video .h5p-pause {
  background-image: url(../images/play.png);
}
.h5p-interactive-video .h5p-fullscreen {
  background-image: url(../images/fullscreen.png);
}
.h5p-interactive-video .h5p-exit {
  background-image: url(../images/exit-fullscreen.png);
}
.h5p-interactive-video .h5p-volume {
  background-image: url(../images/volume.png);
}
.h5p-interactive-video .h5p-muted {
  background-image: url(../images/muted.png);
}
.h5p-interactive-video .h5p-copyright {
  background-image: url(../images/copyright.png);
}

.h5p-interactive-video .h5p-time {
  width: auto;
  height: auto;
  font-size: 0.875em;
  color: #808080;
  padding: 0.57em 1.14em;
}
.h5p-interactive-video .h5p-controls-right .h5p-time {
  line-height: 1.25em;
  border: 0;
}
.h5p-interactive-video .h5p-time > .h5p-current {
  color: #fff;
}
.h5p-interactive-video .h5p-slider {
  width: auto;
  padding: 13px 0 13px 19px;
  margin: 0;
}
.h5p-interactive-video .h5p-slider .ui-slider {
  background: #0b0d0c;
  border: 0;
  height: 8px;
  border-bottom: 2px solid #4e4e4e;
  border-radius: 4px;
  cursor: pointer;
}
.h5p-interactive-video .h5p-slider .ui-slider-range {
  color: #ccc;
  height: 9px;
}
.h5p-interactive-video .h5p-slider .ui-slider-handle {
  cursor: pointer;
  top: -4px;
  width: 18px;
  height: 18px;
  border: 0;
  background: transparent url(../images/slider.png) no-repeat 50% 50%;
  background-size: 18px 18px;
  border-radius: 0;
  outline: none;
}

.h5p-interactive-video .h5p-buffered {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.h5p-interactive-video .h5p-dialog-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}

.h5p-interactive-video .h5p-dialog-wrapper.h5p-hidden {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.h5p-interactive-video .h5p-dialog {
  position: absolute;
  width: 46%;
  max-height: 84.5%;
  margin: 1.33em;
  padding: 0.67em;
  background: #fff;
  box-shadow: 0 0 2.67em 0 #191919;
  font-size: 0.75em;
}
.h5p-interactive-video .h5p-dialog.h5p-big {
  width: 49.33em;
  height: 84.5%;
}
.h5p-interactive-video .h5p-dialog-inner {
  width: 22.9em;
  height: 100%;
  overflow: auto;
}
.h5p-interactive-video .h5p-big > .h5p-dialog-inner {
  width: 47.7em;
}
.h5p-interactive-video .h5p-dialog-inner::-webkit-scrollbar {
  width: 0.5em;
  background: #fff;
}
.h5p-interactive-video .h5p-dialog-inner::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  background: #191919;
}

.h5p-interactive-video .h5p-dialog-hide {
  color: #191919;
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 0.2em;
  width: 1em;
  height: 1em;
  z-index: 52;
  text-shadow: 0 0 0.3em #9f9f9f;
  font-family: 'H5PInteractiveVideoFontAwesome';
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
.h5p-interactive-video .h5p-dialog-hide:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
.h5p-interactive-video .h5p-image {
  display: block;
  height: auto;
}

.h5p-interactive-video .h5p-copyinfo {
  line-height: 1.25em;
  margin: 1em 0;
}
.h5p-interactive-video .h5p-copyinfo > dt {
  float: left;
  margin: 0 0.75em 0 0;
}
.h5p-interactive-video .h5p-copyinfo > dt:after {
  content: ":";
}
.h5p-interactive-video .h5p-copyinfo > dd {
  margin: 0;
}

.h5p-interactive-video .h5p-interactions-copyright {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1.5em 0 0;
}

.h5p-interactive-video .h5p-video-error {
  padding: 1em;
  color: #fff;
}

.h5p-interactive-video .h5p-table {
  font-size: 0.875em;
  border-collapse: collapse;
}
.h5p-interactive-video .h5p-table th {
  border-bottom: 2px solid #191919;
}
.h5p-interactive-video .h5p-table td {
  border-bottom: 1px solid #595959;
}
.h5p-interactive-video .h5p-table tr:last-child td {
  border-bottom: 0;
}